footer{
    div{
        display: flex;
        justify-content:right;
        align-items: center;
        background-color: black;
        a{
            i{
                font-size: 25px;
                color: white;
                margin: 15px; 
                transition: 1s;
                &:hover{
                    color: rgba(153,57,158,0.56);
                }               
            } 
        }
    }
    p{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-style: oblique;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}