header{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 5;
    .navbar-light{
        color: rgb(245, 238, 238);
        border-color: rgba(129, 44, 209, 0.491);
        
            .navbar-brand{
                img{
                    width: 130px;
                    height: 130px;
                    border-radius: 10px;
                }
            }
            .navbar-toggler{
                color: white;
                border-color: rgba(129, 44, 209, 0.491);
                background-color: white;
                border: 1px solid white;
            }
            .collapse .navbar-collapse{
                color: white;
                .navbar-nav{
                    color: rgb(245, 238, 238);
                    .navbar-item{
                        color: white;
                        .nav-link{
                            color: rgb(245, 238, 238);
                            font-size: 15px;
                            font-family: 'Alegreya Sans SC', sans-serif;
                        }
                    }
                    
                        .dropdown-menu{
                            color: white;
                            background-color: black;   
                            li{
                                .dropdown-item{
                                    color: white;
                                    background-color: black;
                            }
                            }
                        }
                    
                }
            }
        
    }               
}