header{
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 5;
    .navbar-light{
                    color: white;
                    font-size: 15px;
                    font-family: 'Alegreya Sans SC', sans-serif;
                    &hover{
                    color: rgba(129, 44, 209, 0.491);
        }

            .navbar-brand{
                            img{
                                width: 130px;
                                height: 130px;
                                border-radius: 10px;
                }
            }
            .navbar-toggler{
                            color: white;
                            border-color: rgba(129, 44, 209, 0.491);
                            background-color: white;
                .navbar-toggler-icon{
                                        color: white;
                                        border-color: rgba(129, 44, 209, 0.491);
                                        background-color: white;
                }
            }

                .navbar-nav{
                            color: white;
                            font-size: 15px;
                            font-family: 'Alegreya Sans SC', sans-serif;

                        .nav-link{
                                    color: white;
                                    font-size: 15px;
                                    font-family: 'Alegreya Sans SC', sans-serif;
                                    &:hover{
                                    color: rgba(129, 44, 209, 0.491);
                            }
                        }


                        .nav-link{
                                    color: white;
                                    font-size: 15px;
                                    font-family: 'Alegreya Sans SC', sans-serif;
                                    &:hover{
                                        color: rgba(129, 44, 209, 0.491);
                            }
                        }
                    

                        .nav-link .dropdown-toggle{
                                                    color: white;
                                                    font-size: 15px;
                                                    font-family: 'Alegreya Sans SC', sans-serif;
                                                    &:hover{
                                                    color: rgba(129, 44, 209, 0.491);
                            }                       
                        }
                        .dropdown-menu{
                            background-color: black;
                            li{
                                .dropdown-item{
                                                color: white;
                                                background-color: black;
                                                &:hover{
                                                color: rgba(129, 44, 209, 0.491);
                                    }
                                }
                            }
                            li{
                                .dropdown-item{
                                                color: white;
                                                background-color: black;
                                                &:hover{
                                                color: rgba(129, 44, 209, 0.491);
                                    }
                                }
                            }
                            li{
                                .dropdown-divider{
                                                    color: white;
                                                    background-color: black;
                                }
                            }
                            li{
                                .dropdown-item{    
                                                color: white;
                                                background-color: black;
                                                &:hover{
                                                color: rgba(129, 44, 209, 0.491);
                                    }
                                }
                            }
                        }               
                    

                        .nav-link{
                                    color: white;
                                    font-size: 15px;
                                    font-family: 'Alegreya Sans SC', sans-serif;
                                    &:hover{
                                    color: rgba(129, 44, 209, 0.491);
                            }                            
                        }
                    
                }


    }
}