@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100;1,300;1,400;1,500&display=swap");

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}